<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table id="list">
            <tr>
                <td v-for="info in headerInfo">{{ info }}</td>
            </tr>
            <!-- body -->
            <template v-for="empInfo in empList">
                <router-link tag="tr" v-bind:to="{ name : 'empRead', 
                                                   params : { empId : empInfo.employee_Id }}
                                                   
                    <td v-for="info in headerInfo">{{ empInfo[info] }}</td>                                               
                </router-link>
            </template>
        </table>
        <!-- 페이지 네이션 -->
        <router-link tag="button" v-bind:to="{ name : 'empWrite'}">직원등록</router-link>    
    </div>
    `
</body>
</html>